<div class="row">
  <div class="col-xs-6 col-md-4">
  	<span class="center gallery"><h2>Newborn</h2></span>
    <a href="/shoots/go/newborn" class="thumbnail">
      <%= image_tag("GalleryButtons/NewBorn.png", alt: "Facebook")%>
    </a>

  </div>

  <div class="col-xs-6 col-md-4">
  	<span class="center gallery"><h2>Couple</h2></span>
    <a href="/shoots/go/couples" class="thumbnail">
      <%= image_tag("GalleryButtons/Couple.png", alt: "Facebook")%>
    </a>
  </div>

  <div class="col-xs-6 col-md-4">
  	<span class="center gallery"><h2>Family</h2></span>
    <a href="/shoots/go/family" class="thumbnail">
      <%= image_tag("GalleryButtons/Family.png", alt: "Facebook")%>
    </a>
  </div>

</div>
<div class="row">
  <div class="col-xs-6 col-md-4">
  	<span class="center gallery"><h2>Maternity</h2></span>
    <a href="/shoots/go/maternity" class="thumbnail">
      <%= image_tag("GalleryButtons/Maternity.png", alt: "Facebook")%>
    </a>
  </div>

  <div class="col-xs-6 col-md-4">
  	<span class="center gallery"><h2>Children</h2></span>
    <a href="/shoots/go/children" class="thumbnail">
      <%= image_tag("GalleryButtons/Children.png", alt: "Facebook")%>
    </a>
  </div>

 <div class="col-xs-6 col-md-4">
 	<span class="center gallery"><h2>Events</h2></span>
    <a href="/shoots/go/events" class="thumbnail">
      <%= image_tag("GalleryButtons/Event.png", alt: "Facebook")%>
    </a>
  </div>

</div>