<div Class="container">
  <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: "alert alert-success center" %>
    <% end -%>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%=image_tag("carousel/Carousel 2.jpg", alt: "Ali Bodill Photography") %>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <%=image_tag("carousel/Carousel 1.png", alt: "Ali Bodill Photography") %>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <%=image_tag("carousel/Carousel 5.jpg", alt: "Ali Bodill Photography") %>
      <div class="carousel-caption">
        </div>
  </div>
  <div class="item">
      <%=image_tag("carousel/Carousel 3.jpg", alt: "Ali Bodill Photography") %>
      <div class="carousel-caption">
        </div>
  </div>
  <div class="item">
      <%=image_tag("carousel/Carousel 7.jpg", alt: "Ali Bodill Photography") %>
      <div class="carousel-caption">
        </div>
  </div>
  <div class="item">
      <%=image_tag("carousel/Carousel 8.jpg", alt: "Ali Bodill Photography") %>
      <div class="carousel-caption">
        </div>
  </div>

  <div class="item">
      <%=image_tag("carousel/Carousel 6.jpg", alt: "Ali Bodill Photography") %>
      <div class="carousel-caption">
        </div>
        <!-- Controls -->
  
</div>
  </div>
</div>
  <div class="social">
  	<div class="social-inner">
    <ul>
        <li class="social-first"><%= link_to image_tag("social/silver round social media icon facebook.png", alt: "Facebook"), 'https://www.facebook.com/pages/Ali-Bodill-Photography/611295985652536' %></li>
        <li><%= link_to image_tag("social/twitter 2 silver round social media icon .png", alt: "Twitter"), '/' %></li>
        <li><%= link_to image_tag("social/pinterest silver round social media icon .png", alt: "Pintrist"), '/' %></li>
        <li><%= link_to image_tag("social/pinterest.png", alt: "Instagram"), '/' %></li>
      </ul>
      </div>
   </div>
  </div>

