<h1>Admin: Edit Shoots</h1>
<div class="shoot-controls">
<%= link_to "Add A Shoot", new_shoot_path , class: "btn btn-large btn-primary" %>
</div>

<div class="container">
<div class="row">
  <% @shoots.each do |shoot| %>
   <div class="col-xs-12 col-md-4">
  	<span class="center gallery"><h2><%= shoot.name%></h2></span>
  	<span class="center gallery"><h2><%= shoot.catagory%></h2></span>
    <a href=<%= shoot_path(shoot.id) %> class="thumbnail">
      <%= image_tag shoot.thumbnail_url.to_s %>
    </a>
</div>
  <% end %>
</ul>
</div>

